.div,
.div * {
  box-sizing: border-box;
}

.div {
  background: #ece5d8;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.div .rectangle-40 {
  background: #e5e0d5;
  width: 100vw;
  height: 800px;
  position: absolute;
  left: 0px;
  top: 137px;
  z-index: 1;
}

.photo-container {
  position: absolute;
  display: inline-block;
  z-index: 3;
}

.photo-container.photo1 {
  left: 200px;
  top: 350px;
}

.photo-container.photo2 {
  left: 720px;
  top: 360px;
}

.photo-container.photo3 {
  left: 1200px;
  top: 340px;
}

.photo {
  max-width: 450px;
  max-height: 450px;
  width: auto;
  height: auto;
}

.delete-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 16px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.div .organeyes-1 {
  width: 187px;
  height: 125px;
  position: absolute;
  left: 42px;
  top: 12px;
  object-fit: cover;
  z-index: 2;
}

.div .arrow-button {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  padding: 0;
  z-index: 10;
}

.div .left-button {
  left: 42px;
  top: 511px;
}

.div .right-button {
  right: 42px;
  top: 511px;
}

.div .rectangle-8,
.div .rectangle-82 {
  background: #bf9169;
  border-radius: 10px;
  width: 17vw;
  height: 60px;
  color: #ffffff;
  font-family: "NanumGothic-Regular", sans-serif;
  font-size: 2vw;
  font-weight: 400;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  cursor: pointer;
  border: none;
  z-index: 3;
}

.div .rectangle-8 {
  left: 33vw;
  top: 850px;
}

.div .rectangle-82 {
  left: 55vw;
  top: 850px;
}

.div .div7 {
  color: #000000;
  text-align: center;
  font-family: "BMHANNAPro", sans-serif;
  font-size: 60px;
  font-weight: 400;
  position: absolute;
  left: 15.5vw;
  top: 160px;
  width: 70vw;
  height: 60px;
  z-index: 3;
}

.rope {
  width: 105vw;
  height: 13vh;
  position: absolute;
  left: -5vw;
  top: 219px;
  object-fit: cover;
  z-index: 2;
}

.clip-1 {
  width: 3vw;
  height: 209px;
  position: absolute;
  left: 20vw;
  top: 230px;
  object-fit: cover;
  z-index: 5;
}

.clip-2 {
  width: 3vw;
  height: 21vh;
  position: absolute;
  left: 48vw;
  top: 240.24px;
  transform-origin: 0 0;
  transform: rotate(-4.897deg) scale(1, 1);
  object-fit: cover;
  z-index: 5;
}

.clip-3 {
  width: 3vw;
  height: 209px;
  position: absolute;
  left: 75vw;
  top: 200px;
  transform-origin: 0 0;
  transform: rotate(8.532deg) scale(1, 1);
  object-fit: cover;
  z-index: 5;
}
