.div,
.div * {
  box-sizing: border-box;
}
.div {
  background: #ece5d8;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.div .rectangle-40 {
  background: #e5e0d5;
  width: 100vw;
  height: 800px;
  position: absolute;
  left: 0px;
  top: 137px;
  overflow: visible;
}
.div .organeyes-1 {
  width: 187px;
  height: 125px;
  position: absolute;
  left: 42px;
  top: 12px;
  object-fit: cover;
}
.div .group-6 {
  position: absolute;
  inset: 0;
}

.div .pngegg-29-1 {
  width: 39px;
  height: 44px;
  position: absolute;
  left: 42px;
  top: 511px;
  object-fit: cover;
}
.div .pngegg-29-2 {
  width: 3vw;
  height: 44px;
  position: absolute;
  left: 98vw;
  top: 511px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
}
.div .group-1 {
  position: absolute;
  inset: 0;
}
.div .rectangle-8 {
  background: #bf9169;
  border-radius: 10px;
  width:  17vw;
  height: 60px;
  position: absolute;
  left: 55vw;
  top: 850px;
}
.div .div5 {
  color: #ffffff;
  text-align: center;
  font-family: "NanumGothic-Regular", sans-serif;
  font-size: 2vw;
  font-weight: 400;
  position: absolute;
  left: 42.1vw;
  top: 855px;
  width: 43vw;
}
.div .group-19 {
  position: absolute;
  inset: 0;
}
.div .rectangle-82 {
  background: #bf9169;
  border-radius: 10px;
  width: 17vw;
  height: 60px;
  position: absolute;
  left: 33vw;
  top: 850px;
  cursor: pointer;
}
.div .div6 {
  color: #ffffff;
  text-align: center;
  font-family: "NanumGothic-Regular", sans-serif;
  font-size: 2vw;
  font-weight: 400;
  position: absolute;
  left: 20.1vw;
  top: 855px;
  width: 43vw;
}
.div .div7 {
  color: #000000;
  text-align: center;
  font-family: "BMHANNAPro", sans-serif;
  font-size: 60px;
  font-weight: 400;
  position: absolute;
  left: 15.5vw;
  top: 160px;
  width: 70vw;
  height: 60px;
}
.div .pngegg-24-7 {
  width: 20vw;
  height: 50vh;
  position: absolute;
  left: 66vw;
  top: 325px;
  
  transform-origin: 0 0;
  transform: rotate(0.091deg) scale(1, 1);
  object-fit: cover;
}
.div .pngegg-24-5 {
  width: 20vw;
  height: 50vh;
  position: absolute;
  left: 12vw;
  top: 350px;
  
  transform-origin: 0 0;
  transform: rotate(1.212deg) scale(1, 1);
  object-fit: cover;
}
.div .pngegg-24-6 {
  width: 20vw;
  height: 50vh;
  position: absolute;
  left: 40vw;
  top: 365px;
  
  object-fit: cover;
}
.div .rectangle-18 {
  background: #bfaa8f;
  border-radius: 1vw;
  width: 10vw;
  height: 5vh;
  position: absolute;
  top: 4vh;
  left: calc(25vw + 50vw + 2vw);
  z-index: 10;
}
.div .rectangle-182 {
  background: #bfaa8f;
  border-radius: 1vw;
  width: 10vw;
  height: 5vh;
  position: absolute;
  top: 4vh;
  left: calc(25vw + 50vw + 14vw);
  z-index: 10;
}
.div .div8 {
  color: #ffffff;
  text-align: center;
  font-family: "NanumGothic-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  top: calc(4vh + 2.5vh - 19.5px);
  left: calc(25vw + 50vw + 2vw + 5vw - 61px);
  width: 122px;
  height: 39px;
  z-index: 11;
}
.div .div9 {
  color: #ffffff;
  text-align: center;
  font-family: "NanumGothic-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  top: calc(4vh + 2.5vh - 19.5px);
  left: calc(25vw + 50vw + 14vw + 5vw - 61px);
  width: 122px;
  height: 39px;
  z-index: 11;
}
.div .rope {
  width: 105vw;
  height: 13vh;
  position: absolute;
  left: -5vw;
  top: 219px;
  object-fit: cover;
}
.div .clip-1 {
  width: 3vw;
  height: 209px;
  position: absolute;
  left: 20vw;
  top: 230px;
  object-fit: cover;
}
.div .clip-2 {
  width: 3vw;
  height: 21vh;
  position: absolute;
  left: 48vw;
  top: 240.24px;
  transform-origin: 0 0;
  transform: rotate(-4.897deg) scale(1, 1);
  object-fit: cover;
}
.div .clip-3 {
  width: 3vw;
  height: 209px;
  position: absolute;
  left: 75vw;
  top: 200px;
  transform-origin: 0 0;
  transform: rotate(8.532deg) scale(1, 1);
  object-fit: cover;
}
@font-face {
  font-family: 'Jua';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BMHANNAPro';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.0/BMHANNAPro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
