.div,
.div * {
  box-sizing: border-box;
}

.div {
  background: #ece5d8;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.div .organeyes-1 {
  width: 187px;
  height: 125px;
  position: absolute;
  left: 42px;
  top: 12px;
  object-fit: cover;
}

.div .image-54 {
  width: 2000px;
  height: 959px;
  position: absolute;
  left: 0px;
  top: 137px;
  object-fit: cover;
}

.image {
  max-width: 500px; 
  max-height: 500px; 
  width: auto;
  height: auto;
  margin: auto;
  display: block;
  position: relative;
  top: 120px; 
  box-sizing: border-box;
}

.image.active {
  border: 3px solid red;
  box-sizing: border-box;
}

.div .rectangle-184,
.div .rectangle-185,
.div .rectangle-186,
.div .rectangle-187 {
  background: #d9beb8;
  border-radius: 10px;
  width: 143px;
  height: 49px;
  position: absolute;
  top: 170px;
  cursor: pointer;
}

.div .rectangle-184 {
  left: 196px;
}

.div .rectangle-185 {
  right: 40px;
}

.div .rectangle-186 {
  right: 200px;
}

.div .rectangle-187 {
  left: 40px;
}

.delete-text,
.modify-text,
.sort-text,
.detail-text {
  color: #ffffff;
  font-family: "NanumGothic-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 23px;
  top: 7px;
  cursor: pointer;
}

.div .rope-1 {
  width: 1800px;
  height: 156px;
  position: absolute;
  left: -91px;
  top: 219px;
  object-fit: cover;
}

.div .clip-1 {
  width: 67px;
  height: 209px;
  position: absolute;
  left: 281px;
  top: 230px;
  object-fit: cover;
}

.div .clip-2 {
  width: 67px;
  height: 209px;
  position: absolute;
  left: 800px;
  top: 220px;
  transform-origin: 0 0;
  transform: rotate(-4.897deg) scale(1, 1);
  object-fit: cover;
}

.div .clip-3 {
  width: 67px;
  height: 209px;
  position: absolute;
  left: 1300px;
  top: 210px;
  transform-origin: 0 0;
  transform: rotate(8.532deg) scale(1, 1);
  object-fit: cover;
}
