.modify,
.modify * {
  box-sizing: border-box;
}
.modify {
  background: #ece5d8;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.detail .rectangle-40 {
  width: 1500px;
  height: 1440px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.modify .organeyes-1 {
  width: 187px;
  height: 125px;
  position: absolute;
  left: 42px;
  top: 12px;
  object-fit: cover;
}
.modify .group-6 {
  position: absolute;
  inset: 0;
}

.modify .group-16 {
  position: absolute;
  inset: 0;
}
.modify .group-15 {
  width: 530.95px;
  height: 540.54px;
  position: static;
}
.modify .pngegg-24-1 {
  width: 30vw;
  height: 497.56px;
  position: absolute;
  left: 76.53px;
  top: 309.81px;
  transform-origin: 0 0;
  transform: rotate(-0.508deg) scale(1, 1);
  object-fit: cover;
}
.modify .group-17 {
  position: absolute;
  inset: 0;
}
.modify .group-152 {
  width: 537.01px;
  height: 546.72px;
  position: static;
}
.modify .pngegg-24-12 {
  width: 30vw;
  height: 503.24px;
  position: absolute;
  left: 35vw;
  top: 299.36px;
  transform-origin: 0 0;
  transform: rotate(-0.508deg) scale(1, 1);
  object-fit: cover;
}
.modify .group-18 {
  position: absolute;
  inset: 0;
}
.modify .group-153 {
  width: 544.93px;
  height: 554.78px;
  position: static;
}
.modify .pngegg-24-13 {
  width: 30vw;
  height: 510.67px;
  position: absolute;
  left: 65vw;
  top: 291.33px;
  transform-origin: 0 0;
  transform: rotate(-0.508deg) scale(1, 1);
  object-fit: cover;
}
.modify .div4 {
  color: #000000;
  text-align: center;
  font-family: "NanumGothic-Regular", sans-serif;
  font-size: 48px;
  font-weight: 400;
  position: absolute;
  left: 18vw;
  top: 190px;
  width: 67vw;
  height: 84px;
}
.modify .group-19 {
  position: absolute;
  inset: 0;
}
.modify .rectangle-8 {
  background: #bf9169;
  border-radius: 10px;
  width: 16vw;
  height: 60px;
  position: absolute;
  left: 32vw;
  top: 850px;
}
.modify .div5 {
  color: #ffffff;
  text-align: center;
  font-family: "NanumGothic-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 18.5vw;
  top: 855px;
  width: 734.82px;
}
.modify .group-1 {
  position: absolute;
  inset: 0;
}
.modify .rectangle-82 {
  background: #bf9169;
  border-radius: 10px;
  width: 16vw;
  height: 60px;
  position: absolute;
  left: 55vw;
  top: 850px;
}
.modify .div6 {
  color: #ffffff;
  text-align: center;
  font-family: "NanumGothic-Regular", sans-serif;
  font-size: 2vw;
  font-weight: 400;
  position: absolute;
  left: 41.5vw;
  top: 855px;
  width: 734.82px;
}
.modify .pngegg-29-1 {
  width: 39px;
  height: 44px;
  position: absolute;
  left: 42px;
  top: 511px;
  object-fit: cover;
}
.modify .pngegg-29-2 {
  width: 39px;
  height: 44px;
  position: absolute;
  left: 96vw;
  top: 511px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
}
.modify .group-13 {
  position: absolute;
  inset: 0;
}
.modify .rectangle-18 {
  background: #bfaa8f;
  border-radius: 10px;
  width: 143px;
  height: 49px;
  position: absolute;
  left: 1263px;
  top: 50px;
}
.modify .div7 {
  color: #ffffff;
  text-align: left;
  font-family: "NanumGothic-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 1273px;
  top: 60px;
  width: 122px;
  height: 39px;
}
.modify .group-20 {
  position: absolute;
  inset: 0;
}
.modify .rectangle-182 {
  background: #bfaa8f;
  border-radius: 10px;
  width: 143px;
  height: 49px;
  position: absolute;
  left: 1102px;
  top: 50px;
}
.modify .div8 {
  color: #ffffff;
  text-align: left;
  font-family: "NanumGothic-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 1112px;
  top: 60px;
  width: 122px;
  height: 39px;
}
